*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    /* margin: 0 0 1vh; */
    background-color: #f8fafc;
    min-height: 100vw;
    position: relative;
}

#NAV{
height: 15vh;
background: linear-gradient(
    to right,
    rgb(108, 240, 52) 0%,
 rgb(255, 255, 255) 50%,
    rgb(246, 230, 16) 100%
);
/* padding: 1vh 0; */
border: 0.1px solid #fbf7f7;
position: sticky;
top: 0%;
}

#NAV ul
{
    margin: 1% auto;
    width: 20%;
    height: 98%;
    list-style-type: none;
    
}
#NAV li{
    width: 50%;
    height: 24%;
    margin: 0 auto;

    /* border: 2px solid #000; */
    /* background-color: #f0e9e9; */
    text-align: center;
    list-style-type: none;
}
 li a{
    text-decoration: none;
    color: rgb(25, 26, 25);
}

li>a:hover
{
    color: orange  ;
}
main{
            margin: 2% 0% 15% 1%;
            font-size: 17px;
            font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
        
        }


        h1{
            font: bold italic  28px "Times New Roman", Serif;
            color: #fd7404;
            margin-bottom: 0.5em;
        }
        footer{
            width: 100vw;
            height: 10vh;
            background-color: rgb(83, 171, 239);
            position: sticky;
            bottom: 0%; 
            /* it becomes relative to viewport, and you can see it is out of flow and other element ignore it,
            sit below it, its z-index high so other elements in normal flow sit and scroll below */
        }